[Desktop Entry]
Encoding=UTF-8
Name=Frugalware Update Notifier (FUN)
Comment=Frugalware Update Notifier
Exec=fun
Terminal=false
Type=Application
StartupNotify=true
Icon=fun
Categories=Application;GTK;System;
MimeType=
